<div  class="panel panel-default">
<div class="panel-heading">Address</div>
<div class="panel-body">
<%= form_for([@orders.contact, @orders], :html => {:class => "inline"}) do |f| %>


<div class="row">
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
</div>
</div>
</div>

