<div  class="panel panel-default">
<div class="panel-heading">Order Information</div>
<div class="panel-body">
<%= [@orders].each do |order| %>

<div class="row">
    <div class="col-xs-12 col-sm-12">
      <%= order.ops_date_ordered %>
    </div>
</div>

<div class="row">
      <#= render partial: 'order_products/form', local: {contact: @contact, order: order, order_product: @order_product} %>
</div>
<% end %>
</div>
</div>
</div>

