<% provide(:title, 'Admin | User Profile') %>
<h1>Admin | User Profile</h1>

<div class="row">

   <p>Name : <%= link_to @user.name, edit_users_admin_path(:id => @user.id) %></p>
   <p><%= @user.email %></p>
</div>

