<div  class="panel panel-default">
<div class="panel-heading">Order Detail</div>
<div class="panel-body">
<%= form_for([@contact, @order, @order_detail], :html => {:class => "inline"}) do |f| %>

<% end %>

</div>
</div>
</div>

